<!DOCTYPE html>
<html ng-app="root">

<head>
  <script src="bower_components/jquery/dist/jquery.js"></script>
  <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="bower_components/angular/angular.min.js"></script>
  <script src="bower_components/angular-local-storage/dist/angular-local-storage.min.js"></script>
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
  <script src="bower_components/angular-modal-service/dst/angular-modal-service.min.js"></script>
  <link type="text/css" rel="stylesheet" href="style.css" />
  <title>Quotaculous</title>
</head>

<body ng-controller="main">
  <nav class="navbar navbar-default">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Quotaculous</a>
      </div>
    </div>
    <!-- /.container-fluid -->
  </nav>
  <!-- Trigger the modal with a button -->
  <div class="container main-wrapper">
    <div class="row">
      <div class="col-md-10">
        <input type="textbox" placeholder="enter author's name" ng-model="author" />
        <input id="quote" type="textbox" placeholder="enter new quote here" ng-model="quoteName" />
      </div>
      <div class="col-md-2 dropdown-wrapper">
        <select class="btn btn-default select-btn" ng-model="category">
          <option value="entertainment">Entertainment</option>
          <option value="fashion">Fashion</option>
          <option value="love">Love</option>
          <option value="religion">Religion</option>
          <option value="tech">Technology</option>
        </select>
        <br />
        <button class="btn btn-success" ng-click="submit()">Submit</button>
      </div>
    </div>
  </div>
  <!--<ul ng-hide="showQs">-->
  <!--<li ng-repeat="quote in data">-->
  <div class="container bottom-wrapper">
    <div class="col-md-8">
      <div class="row quotes-list">
        <a ng-click="load()">Show All Quotes</a>({{quoteList.length}})
        <ul class="list-group" ng-show="showQs">
          <li class="list-group-item" ng-repeat="quote in quoteList">
            "{{quote.name}}" by {{quote.author}} [{{quote.category}}]
            <span class="badge">
              <button type="button" class="btn btn-info glyphicon glyphicon-pencil" ng-click="editQuote(quoteList[$index], $index)">Edit</button>
            </span>
            <span style="background-color: #d9534f" class="badge">
              <a class="glyphicon glyphicon-trash" ng-click="delete($index)">Delete</a>
            </span>
            <span class="badge">
              <a class="glyphicon glyphicon-thumbs-up btn btn-primary" ng-click="like($index)"></a>{{quote.ratings.likes}}likes
            </span>
            <span class="badge">
              <a class="glyphicon glyphicon-thumbs-down btn btn-primary" ng-click="dislike($index)"></a>{{quote.ratings.dislikes}} dislikes
            </span>
          </li>
        </ul>
      </div>
      <a ng-click="getQuotes('entertainment')">Entertainment</a></br>
      <a ng-click="getQuotes('fashion')">Fashion</a></br>
      <a ng-click="getQuotes('love')">Love</a></br>
      <a ng-click="getQuotes('religion')">Religion</a></br>
      <a ng-click="getQuotes('tech')">Technology</a>
      <ul ng-show="hideQs">
        <li ng-repeat="x in allQuotes">
          <span>"{{x.name}}" by {{x.author}}</span>
        </li>
      </ul>
    </div>
  </div>
  <br>
  <script type="text/javascript" src="app.js"></script>
  <script type="text/ng-template" id="modal.html">
    <div class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" ng-click="close('Cancel')" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Edit Quote</h4>
          </div>
          <div class="modal-body">
            <form>
              <input type="textbox" placeholder="enter author's name" ng-model="editQuote.author" />
              <input id="quote" type="textbox" placeholder="enter new quote here" ng-model="editQuote.name" />
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" ng-click="close()" class="btn btn-primary" data-dismiss="modal">Save</button>
            <button type="button" ng-click="cancel()" class="btn btn-default" data-dismiss="modal">Cancel</button>
          </div>
        </div>
      </div>
    </div>
  </script>
</body>

</html>
